.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  margin-bottom: 10px;
}

.blog {
  background: aliceblue;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}
